<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Portal IA - Laboratorio Clínico Cruz Verde</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">

<div class="container">

<a class="navbar-brand fw-bold" href="/">

🧪 Laboratorio Clínico Cruz Verde

</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">

<span class="navbar-toggler-icon"></span>

</button>

<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link" href="/pacientes/registro/">
Registro
</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Consultar Resultados</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">Iniciar Sesión</a>
</li>

</ul>

</div>

</div>

</nav>

<div class="container mt-5">

{% block contenido %}

{% endblock %}

</div>

<footer class="bg-light mt-5 p-4 text-center">

<hr>

<p>

<strong>Laboratorio Clínico Cruz Verde</strong><br>

Carrera 10 #14-48<br>

Maicao - La Guajira<br>

WhatsApp: 300 5161604

</p>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>